.yo {
  z-index: 45;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pdfContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pdf {
  width: 100vw;
  height: 100vh;
}
